@{
    ViewBag.Title = "About";
}

<div class="container">
</div>

<div class="container">
    <h1>About</h1>
    <blockquote>
        <p>
            You can create an event here quickly and make it as detailed as you want.Good place to promote events, and also sell your tickets.
            This event website allow you to get listed in google and extend your reach to the event, conference and more out to the communities.
            Also the opportunity for more people to see your company name or individual name, great way to increase your brand.
        </p>
        <footer>The Best Free Listing Website</footer>
    </blockquote>
</div>