@model Events.Models.CommingPassedEventsViewModels

@{
    ViewBag.Title = "Home Page";
}


<h1>Comming Soon Events</h1>

<div class="row">
    @if (Model.CommingEvents.Any())
    {
        @Html.DisplayFor(e => e.CommingEvents)
    }
    else
    {
        <h1>No Comming Events</h1>
    }
</div>
<br />
<br />
<h1>Passed Events</h1>

<div class="row">
    @if (Model.PassedEvents.Any())
    {
        @Html.DisplayFor(e => e.PassedEvents)
    }
    else
    {
        <h1>No Passed Events</h1>
    }
</div>

